@import 'utilities.css';
@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');

* {
    margin: 0;
    padding: 0;
}

header nav {
    background-color: #ffd500;
    height: 60px;
    display: flex;
    align-items: center;
    padding-left: 4%;
    padding-right: 4%;
    justify-content: space-between;
}

header nav #brand {
    text-decoration: none;
    color: #000000;
    font-family: Anurati;
    font-size: 1.2rem;
    font-weight: bold;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #000000;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-item {
    margin-left: 2rem;
}

.nav-link{
    font-size: 1.2rem;
    font-weight: 800;
    color: #1f1e1e;
    margin-right: 1rem;
}

.nav-link:hover{
    color: #000000;
}

.active {
    color: #000000;
}

.active:hover {
    color: #000000;
}

.inactive {
    color: #423c3c;
}

.inactive:hover {
    color: #000000;
}

/* Upcoming Events Section Starts */
#upcoming__events {
    background-color: #000000;
    color: #000000;
    padding: 3.5rem 2rem;
    text-align: center;
}

#upcoming__events h1 {
    font-size: 2.1rem;
    font-family: 'kanit', sans-serif;
    color: #ffd500;
}

#upcoming__events h1 span {
    color: #ffffff;
}

#upcoming__events p {
    margin-bottom: 1.6rem;
    text-align: center;
    font-size: 1.1rem;
    line-height: 1.5rem;
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
}

#upcoming__events a#see__btn {
    padding: .7rem 1rem;
    background-color: #ffd500;
    border-radius: 4px;
    font-size: 1.1rem;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    color: #000000;
}

#upcoming__events #events {
    margin-top: 2.4rem;
}

#upcoming__events #events .event {
    background-color: #ffd500;
    padding: 1rem .6rem 2rem .6rem;
    text-align: left;
    border-radius: 6px;
    box-shadow:
        6px 10px 16px #ffd5005d;
}

#upcoming__events #events .event .img__bootcamp {
    text-align: center;
    margin-bottom: 1rem;
}

#upcoming__events #events .event .img__bootcamp img {
    width: 240px;
    border-radius: 6px;
}

#upcoming__events #events .event .body__bootcamp .header__bootcamp h2 {
    font-size: 1.5rem;
    font-family: 'Kanit', sans-serif;
    line-height: 1.75rem;
    margin-bottom: 1rem;
    padding: 0 .4rem;
}

#upcoming__events #events .event .body__bootcamp .header__bootcamp p {
    text-align: left;
    color: #000000;
    font-size: 1.1rem;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    padding: 0 .4rem;
}

#upcoming__events #events .event .body__bootcamp .header__bootcamp div#line {
    background-color: #000000;
    height: 2px;
    width: 100%;
}

#upcoming__events #events .event .body__bootcamp .info__bootcamp {
    margin-top: 1rem;
}

#upcoming__events #events .event .body__bootcamp .info__bootcamp .card__wrapper {
    display: flex;
    align-items: center;
    padding: .5rem .4rem;
    margin-bottom: 1rem;
}

#upcoming__events #events .event .body__bootcamp .info__bootcamp .card__wrapper .icon__info {
    font-size: 1.4rem;
    margin-right: .6rem;
}

#upcoming__events #events .event .body__bootcamp .info__bootcamp .card__wrapper .body__info {
    font-size: 1rem;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}

#upcoming__events #events .event .body__bootcamp .info__bootcamp #btn__register {
    text-align: center;
}

#upcoming__events #events .event .body__bootcamp .info__bootcamp #btn__register a {
    padding: .74rem 1.1rem;
    font-size: 1.1rem;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    border-radius: 5px;
    color: #ffffff;
    background-color: #000000;
}
/* Upcoming Events Section Ends */

/* Footer Section Starts */
footer {
    background: #ffd500;
    padding: 3.5rem 2rem;
}

footer #links {
    margin-bottom: 1.5rem;
}

footer #links #grids .grid {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
}

footer #links #grids .grid h4 {
    font-weight: bold;
    font-size: 1.4rem;
    font-family: "Roboto", sans-serif;
    margin-bottom: .5rem;
}

footer #links #grids .grid a {
    color: #000000;
    font-size: 1.1rem;
    font-family: 'Roboto', sans-serif;
    margin-bottom: .5rem;
}

footer #footer__links {
    text-align: center;
}

footer #footer__links #brand__name h1 {
    font-size: 1.8rem;
    font-family: Anurati;
}

footer #footer__links #media__links {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer #footer__links #media__links .link a img {
    width: 40px;
    margin-right: 1rem;
}

@media only screen and (max-width: 768px) {
    .nav-menu {
        position: fixed;
        left: 100%;
        top: 3.7rem;
        flex-direction: column;
        background-color: #ffd500;
        width: 100%;
        text-align: center;
        transition: 0.3s;
        box-shadow:
            0 10px 27px rgba(0, 0, 0, 0.05);
    }

    .nav-menu.active {
        left: 0;
    }

    .nav-item {
        margin: 1.5rem 0;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: .5;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

}

/* Responsive for 425 px and less */
@media only screen and (min-width: 376px) and (max-width: 425px) {
    header nav {
        height: 75px;
        padding-left: 6%;
        padding-right: 6%;
    }
    
    header nav #brand {
        font-size: 1.8rem;
        font-family: Anurati;
    }
    
    .bar {
        width: 35px;
        height: 3.5px;
        margin: 5px auto;
    }
    
    .nav-link{
        font-size: 1.55rem;
        font-weight: 800;
    }
    
    .nav-link:hover{
        color: #000000;
    }
    
    .active {
        color: #000000;
    }
    
    .active:hover {
        color: #000000;
    }

    .inactive {
        color: #423c3c;
    }

    .inactive:hover {
        color: #000000;
    }

    .nav-menu {
        position: fixed;
        left: 100%;
        top: 60px;
        flex-direction: column;
        background-color: #ffd500;
        width: 100%;
        text-align: center;
        transition: 1s ease;
        box-shadow: 0 10px 27px #ffd500;
    }

    .nav-menu.active {
        left: 0;
    }

    .nav-item {
        margin: 1rem 0;
        margin-bottom: 38px;
    }

    .hamburger {
        display: block;
        cursor: pointer;
        z-index: 11;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: .5;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    /* Upcoming Events Section Starts */
    #upcoming__events {
        background-color: #000000;
        color: #000000;
        padding: 4rem 3.5rem;
    }

    #upcoming__events h1 {
        font-size: 3rem;
    }

    #upcoming__events h1 span {
        color: #ffffff;
    }

    #upcoming__events p {
        margin-bottom: 2.5rem;
        text-align: center;
        font-size: 1.4rem;
        line-height: 1.5rem;
        font-family: 'Roboto', sans-serif;
        color: #ffffff;
    }

    #upcoming__events a#see__btn {
        padding: .9rem 1.8rem;
        background-color: #ffd500;
        border-radius: 6px;
        font-size: 1.3rem;
        font-weight: bold;
        font-family: 'Roboto', sans-serif;
        text-align: center;
        color: #000000;
    }

    #upcoming__events #events {
        margin-top: 3rem;
    }

    #upcoming__events #events .event {
        padding: 2rem 1rem 2rem 1rem;
        border-radius: 6px;
        box-shadow:
            10px 18px 16px #ffd5005d;
    }

    #upcoming__events #events .event .img__bootcamp {
        margin-bottom: 1.2rem;
    }

    #upcoming__events #events .event .img__bootcamp img {
        width: 350px;
        border-radius: 10px;
    }

    #upcoming__events #events .event .body__bootcamp .header__bootcamp h2 {
        font-size: 2.2rem;
        line-height: 2.2rem;
        padding: 0 .9rem;
    }

    #upcoming__events #events .event .body__bootcamp .header__bootcamp p {
        font-size: 1.2rem;
        padding: 0 .9rem;
    }

    #upcoming__events #events .event .body__bootcamp .header__bootcamp div#line {
        background-color: #000000;
        height: 3px;
        width: 100%;
    }

    #upcoming__events #events .event .body__bootcamp .info__bootcamp {
        margin-top: 1rem;
        display: flex;
        flex-wrap: wrap;
    }

    #upcoming__events #events .event .body__bootcamp .info__bootcamp .card__wrapper {
        display: flex;
        align-items: center;
        padding: .4rem .9rem;
        /* margin-bottom: 1rem; */
    }

    #upcoming__events #events .event .body__bootcamp .info__bootcamp .card__wrapper .icon__info {
        font-size: 1.3rem;
        margin-right: .45rem;
    }

    #upcoming__events #events .event .body__bootcamp .info__bootcamp .card__wrapper .body__info {
        font-size: .99rem;
        font-weight: bold;
        font-family: 'Roboto', sans-serif;
    }

    #upcoming__events #events .event .body__bootcamp .info__bootcamp #btn__register {
        text-align: center;
        padding: 1rem .9rem;
    }

    #upcoming__events #events .event .body__bootcamp .info__bootcamp #btn__register a {
        padding: .9rem 1.35rem;
        font-size: 1.25rem;
        font-weight: bold;
        font-family: 'Roboto', sans-serif;
        border-radius: 5px;
        color: #ffffff;
        background-color: #000000;
    }
    /* Upcoming Events Section Ends */

    /* Footer Section Starts */
    footer {
        background: #ffd500;
        padding: 4rem 4rem;
    }

    footer #links {
        margin-bottom: 2rem;
    }

    footer #links #grids {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    footer #links #grids .grid {
        margin-bottom: 1rem;
        display: flex;
        flex-direction: column;
    }

    footer #links #grids .grid h4 {
        font-weight: bold;
        font-size: 2rem;
        font-family: "Roboto", sans-serif;
        margin-bottom: .8rem;
    }

    footer #links #grids .grid a {
        color: #000000;
        font-size: 1.4rem;
        font-family: 'Roboto', sans-serif;
        margin-bottom: .68rem;
    }

    footer #footer__links {
        text-align: center;
    }

    footer #footer__links #brand__name h1 {
        font-size: 3.6rem;
        font-family: Anurati;
    }

    footer #footer__links #media__links {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    footer #footer__links #media__links .link a img {
        width: 40px;
        margin-right: 1.2rem;
    }
}

/* Responsive for 768 px and less */
@media only screen and (min-width: 426px) and (max-width: 768px) {
    header nav {
        height: 70px;
        padding-left: 6%;
        padding-right: 6%;
    }
    
    header nav #brand {
        font-size: 1.5rem;
        font-family: Anurati;
    }
    
    .bar {
        width: 35px;
        height: 3.5px;
        margin: 5px auto;
    }
    
    .nav-link{
        font-size: 1.55rem;
        font-weight: 800;
    }
    
    .nav-link:hover{
        color: #000000;
    }
    
    .active {
        color: #000000;
    }
    
    .active:hover {
        color: #000000;
    }

    .inactive {
        color: #423c3c;
    }

    .inactive:hover {
        color: #000000;
    }

    .nav-menu {
        position: fixed;
        left: 100%;
        top: 60px;
        flex-direction: column;
        background-color: #ffd500;
        width: 100%;
        text-align: center;
        transition: .4s ease-in-out;
        box-shadow: 0 10px 27px #ffd500;
    }

    .nav-menu.active {
        left: 0;
    }

    .nav-item {
        margin: 1rem 0;
        margin-bottom: 38px;
    }

    .hamburger {
        display: block;
        cursor: pointer;
        z-index: 11;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: .5;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    /* Upcoming Events Section Starts */
    #upcoming__events {
        background-color: #000000;
        color: #000000;
        padding: 3.5rem 2rem;
    }

    #upcoming__events h1 {
        font-size: 2.7rem;
    }

    #upcoming__events h1 span {
        color: #ffffff;
    }

    #upcoming__events p {
        margin-bottom: 1.5rem;
        text-align: center;
        font-size: 1.2rem;
        line-height: 1.5rem;
        font-family: 'Roboto', sans-serif;
        color: #ffffff;
    }

    #upcoming__events a#see__btn {
        padding: .8rem 1rem;
        background-color: #ffd500;
        border-radius: 8px;
        font-size: 1.2rem;
        font-weight: bold;
        font-family: 'Roboto', sans-serif;
        text-align: center;
        color: #000000;
    }

    #upcoming__events #events {
        margin-top: 3rem;
    }

    #upcoming__events #events .event {
        padding: 2rem 2.5rem 2rem 2.5rem;
        border-radius: 6px;
        box-shadow:
            10px 18px 16px #ffd5005d;
    }

    #upcoming__events #events .event .img__bootcamp {
        margin-bottom: 1.2rem;
    }

    #upcoming__events #events .event .img__bootcamp img {
        width: 300px;
        border-radius: 10px;
    }

    #upcoming__events #events .event .body__bootcamp .header__bootcamp h2 {
        font-size: 1.9rem;
        line-height: 2rem;
        padding: 0 .9rem;
    }

    #upcoming__events #events .event .body__bootcamp .header__bootcamp p {
        font-size: 1rem;
        padding: 0 .9rem;
    }

    #upcoming__events #events .event .body__bootcamp .header__bootcamp div#line {
        background-color: #000000;
        height: 3px;
        width: 100%;
    }

    #upcoming__events #events .event .body__bootcamp .info__bootcamp {
        margin-top: 1rem;
        display: flex;
        flex-wrap: wrap;
    }

    #upcoming__events #events .event .body__bootcamp .info__bootcamp .card__wrapper {
        display: flex;
        align-items: center;
        padding: .4rem .9rem;
        /* margin-bottom: 1rem; */
    }

    #upcoming__events #events .event .body__bootcamp .info__bootcamp .card__wrapper .icon__info {
        font-size: 1.3rem;
        margin-right: .45rem;
    }

    #upcoming__events #events .event .body__bootcamp .info__bootcamp .card__wrapper .body__info {
        font-size: .99rem;
        font-weight: bold;
        font-family: 'Roboto', sans-serif;
    }

    #upcoming__events #events .event .body__bootcamp .info__bootcamp #btn__register {
        text-align: center;
        padding: 1rem .9rem;
    }

    #upcoming__events #events .event .body__bootcamp .info__bootcamp #btn__register a {
        padding: .8rem 1rem;
        font-size: 1.25rem;
        font-weight: bold;
        font-family: 'Roboto', sans-serif;
        border-radius: 5px;
        color: #ffffff;
        background-color: #000000;
    }
    /* Upcoming Events Section Ends */

    /* Footer Section Starts */
    footer {
        background: #ffd500;
        padding: 4rem 4rem;
    }

    footer #links {
        margin-bottom: 2rem;
    }

    footer #links #grids {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    footer #links #grids .grid {
        margin-bottom: 1rem;
        display: flex;
        flex-direction: column;
    }

    footer #links #grids .grid h4 {
        font-weight: bold;
        font-size: 1.6rem;
        font-family: "Roboto", sans-serif;
        margin-bottom: .8rem;
    }

    footer #links #grids .grid a {
        color: #000000;
        font-size: 1.2rem;
        font-family: 'Roboto', sans-serif;
        margin-bottom: .68rem;
    }

    footer #footer__links {
        text-align: center;
    }

    footer #footer__links #brand__name h1 {
        font-size: 2.4rem;
        font-family: Anurati;
    }

    footer #footer__links #media__links {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    footer #footer__links #media__links .link a img {
        width: 40px;
        margin-right: 1.2rem;
        margin-top: .6rem;
    }
}

/* Responsive for 1024px and more */
@media only screen and (min-width: 769px) and (max-width: 1024px) {
    header nav {
        height: 75px;
        padding-left: 6%;
        padding-right: 6%;
    }
    
    header nav #brand {
        font-size: 1.8rem;
        font-family: Anurati;
    }
    
    .nav-link{
        font-size: 1.35rem;
        font-weight: 800;
    }
    
    .nav-link:hover{
        color: #000000;
    }
    
    .active {
        color: #000000;
    }
    
    .active:hover {
        color: #000000;
    }

    .inactive {
        color: #423c3c;
    }

    .inactive:hover {
        color: #000000;
    }

    /* Upcoming Events Section Starts */
    #upcoming__events {
        background-color: #000000;
        color: #000000;
        padding: 4.5rem 5rem;
    }

    #upcoming__events h1 {
        font-size: 3.4rem;
    }

    #upcoming__events h1 span {
        color: #ffffff;
    }

    #upcoming__events p {
        margin-bottom: 3rem;
        text-align: center;
        font-size: 1.6rem;
        font-family: 'Roboto', sans-serif;
        color: #ffffff;
    }

    #upcoming__events a#see__btn {
        padding: 1.2rem 2rem;
        background-color: #ffd500;
        border-radius: 6px;
        font-size: 1.65rem;
        font-weight: bold;
        font-family: 'Roboto', sans-serif;
        text-align: center;
        color: #000000;
    }

    #upcoming__events #events {
        margin-top: 4rem;
    }

    #upcoming__events #events .event {
        padding: 3rem 2rem 3rem 2rem;
        border-radius: 6px;
        box-shadow:
            10px 18px 16px #ffd5005d;
    }

    #upcoming__events #events .event .img__bootcamp {
        margin-bottom: 1.6rem;
    }

    #upcoming__events #events .event .img__bootcamp img {
        width: 500px;
        border-radius: 10px;
    }

    #upcoming__events #events .event .body__bootcamp .header__bootcamp h2 {
        font-size: 2.6rem;
        line-height: 2.65rem;
        padding: 0 1.2rem;
    }

    #upcoming__events #events .event .body__bootcamp .header__bootcamp p {
        font-size: 1.4rem;
        padding: 0 1.2rem;
        line-height: 2rem;
    }

    #upcoming__events #events .event .body__bootcamp .header__bootcamp div#line {
        background-color: #000000;
        height: 4.5px;
        width: 100%;
    }

    #upcoming__events #events .event .body__bootcamp .info__bootcamp {
        margin-top: 1.4rem;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }

    #upcoming__events #events .event .body__bootcamp .info__bootcamp .card__wrapper {
        display: flex;
        align-items: center;
        padding: .4rem .9rem;
        /* margin-bottom: 1rem; */
    }

    #upcoming__events #events .event .body__bootcamp .info__bootcamp .card__wrapper .icon__info {
        font-size: 1.9rem;
        margin-right: .75rem;
    }

    #upcoming__events #events .event .body__bootcamp .info__bootcamp .card__wrapper .body__info {
        font-size: 1.26rem;
        font-weight: bold;
        font-family: 'Roboto', sans-serif;
    }

    #upcoming__events #events .event .body__bootcamp .info__bootcamp #btn__register {
        text-align: center;
        padding: 1rem .9rem;
    }

    #upcoming__events #events .event .body__bootcamp .info__bootcamp #btn__register a {
        padding: 1.2rem 1.75rem;
        font-size: 1.45rem;
        font-weight: bold;
        font-family: 'Roboto', sans-serif;
        border-radius: 5px;
        color: #ffffff;
        background-color: #000000;
    }
    /* Upcoming Events Section Ends */

    /* Footer Section Starts */
    footer {
        background: #ffd500;
        padding: 5rem 7rem;
    }

    footer #links {
        margin-bottom: 2.5rem;
    }

    footer #links #grids {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    footer #links #grids .grid {
        margin-bottom: 0;
        display: flex;
        flex-direction: column;
    }

    footer #links #grids .grid h4 {
        font-weight: bold;
        font-size: 2.2rem;
        font-family: "Roboto", sans-serif;
        margin-bottom: 1rem;
    }

    footer #links #grids .grid a {
        color: #000000;
        font-size: 1.8rem;
        font-family: 'Roboto', sans-serif;
        margin-bottom: .8rem;
    }

    footer #footer__links {
        text-align: center;
    }

    footer #footer__links #brand__name h1 {
        font-size: 3.6rem;
        font-family: Anurati;
    }

    footer #footer__links #media__links {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    footer #footer__links #media__links .link a img {
        width: 65px;
        margin-right: 1.5rem;
    }
}

/* Responsive for 1440px and more */
@media only screen and (min-width: 1025px) and (max-width: 1440px) {
    header nav {
        height: 90px;
        padding-left: 7.5%;
        padding-right: 7.5%;
    }
    
    header nav #brand {
        font-size: 2.35rem;
        font-family: Anurati;
    }
    
    .nav-link{
        font-size: 1.68rem;
        font-weight: 800;
    }
    
    .nav-link:hover{
        color: #000000;
    }
    
    .active {
        color: #000000;
    }
    
    .active:hover {
        color: #000000;
    }

    .inactive {
        color: #423c3c;
    }

    .inactive:hover {
        color: #000000;
    }

    /* Upcoming Events Section Starts */
    #upcoming__events {
        background-color: #000000;
        color: #000000;
        padding: 4.5rem 6rem;
    }

    #upcoming__events #header__upcoming__events {
        display: flex;
        justify-content: space-between;
    }

    #upcoming__events #header__upcoming__events #header__header__events {
        text-align: left;
    }

    #upcoming__events h1 {
        font-size: 3.8rem;
    }

    #upcoming__events h1 span {
        color: #ffffff;
    }

    #upcoming__events p {
        text-align: center;
        font-size: 2rem;
        font-family: 'Roboto', sans-serif;
        color: #ffffff;
    }

    #upcoming__events #header__upcoming__events #see__header {
        margin-top: 1.6rem;
    }

    #upcoming__events a#see__btn {
        padding: 1.2rem 2rem;
        background-color: #000000;
        border-radius: 6px;
        font-size: 2.2rem;
        font-weight: bold;
        font-family: 'Roboto', sans-serif;
        text-align: center;
        color: #ffd500;
    }

    #upcoming__events #events {
        margin-top: 4rem;
    }

    #upcoming__events #events .event {
        padding: 3rem 2rem 2rem 2rem;
        border-radius: 6px;
        box-shadow:
            10px 18px 16px #ffd5005d;
        display: flex;
        flex-direction: row;
    }

    #upcoming__events #events .event .img__bootcamp {
        margin-bottom: 1.6rem;
    }

    #upcoming__events #events .event .img__bootcamp img {
        width: 350px;
        border-radius: 10px;
    }

    #upcoming__events #events .event .body__bootcamp .header__bootcamp h2 {
        font-size: 2.6rem;
        line-height: 2.65rem;
        padding: 0 1.8rem;
    }

    #upcoming__events #events .event .body__bootcamp .header__bootcamp p {
        font-size: 1.4rem;
        padding: 0 1.8rem;
        line-height: 2rem;
    }

    #upcoming__events #events .event .body__bootcamp .header__bootcamp div#line {
        background-color: #000000;
        height: 4.5px;
        width: 100%;
        margin: 0 1rem;
    }

    #upcoming__events #events .event .body__bootcamp .info__bootcamp {
        margin-top: 1.4rem;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }

    #upcoming__events #events .event .body__bootcamp .info__bootcamp .card__wrapper {
        display: flex;
        align-items: center;
        padding: .4rem 1.4rem;
        /* margin-bottom: 1rem; */
    }

    #upcoming__events #events .event .body__bootcamp .info__bootcamp .card__wrapper .icon__info {
        font-size: 1.8rem;
        margin-right: .58rem;
    }

    #upcoming__events #events .event .body__bootcamp .info__bootcamp .card__wrapper .body__info {
        font-size: 1.25rem;
        font-weight: bold;
        font-family: 'Roboto', sans-serif;
    }

    #upcoming__events #events .event .body__bootcamp .info__bootcamp #btn__register {
        text-align: center;
        padding: 1rem 1.4rem;
    }

    #upcoming__events #events .event .body__bootcamp .info__bootcamp #btn__register a {
        padding: 1.35rem 2rem;
        font-size: 1.5rem;
        font-weight: bold;
        font-family: 'Roboto', sans-serif;
        border-radius: 5px;
        color: #ffffff;
        background-color: #000000;
    }
    /* Upcoming Events Section Ends */

    /* Footer Section Starts */
    footer {
        background: #ffd500;
        padding: 6rem 8rem;
    }

    footer #links {
        margin-bottom: 3rem;
    }

    footer #links #grids {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    footer #links #grids .grid {
        margin-bottom: 0;
        display: flex;
        flex-direction: column;
    }

    footer #links #grids .grid h4 {
        font-weight: bold;
        font-size: 2.8rem;
        font-family: "Roboto", sans-serif;
        margin-bottom: 1.4rem;
    }

    footer #links #grids .grid a {
        color: #000000;
        font-size: 2.2rem;
        font-family: 'Roboto', sans-serif;
        margin-bottom: 1rem;
    }

    footer #footer__links {
        text-align: center;
    }

    footer #footer__links #brand__name h1 {
        font-size: 4.5rem;
        font-family: Anurati;
    }

    footer #footer__links #media__links {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    footer #footer__links #media__links .link a img {
        width: 85px;
        margin-right: 1.5rem;
    }
}



@font-face {
    font-family: Anurati;
    font-weight: bold;
    src: url("../Fonts/Anurati/Anurati-Regular.otf") format("opentype");
}
